body {
  width: 100vw;

  background-color: black;
}

header a {
  display: none;
}

h1, h2, p, a {
  color: white;
}

h1 {
  margin-top: 80px;
  margin-bottom: 50px;
  margin-left: 20px;

  font-size: 24px;
}

nav {
  display: flex;

  padding: 20px;

  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 40px;
}

.burger-menu {
  width: 40px;
}

.about {
  display: flex;
  flex-direction: column;

  margin-top: 30px;

  text-align: left;

  justify-content: center;
  align-items: center;
}

.about img {
  width: 85vw;

  justify-content: center;
}

.aboutdot {
  margin-top: 40px;
}

.aboutme {
  margin-top: 25px;
}

h1, h2, a {
 font-family: 'Ubuntu', sans-serif;
 font-weight: bold;
}

h2 {
  margin-top: 30px;
  margin-bottom: 10px;

  font-size: 18px;
}

p {
  width: 90vw;

 text-align: left;

 font-family: 'PT Sans Caption', sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.pic1, .pic2 {
  z-index: 90;

  width: 80vw;
  margin-left: 16px;
}

.work {
  display: flex;
  flex-direction: column;

  text-align: left;

  justify-content: center;
  align-items: center;
}

.more {
  margin-top: 35px;
}

.branding, .poster, .shop, .book, .riotdivision {
  z-index: 100;

  margin-top: 20px;
}

.branding h2, .shop h2, .riotdivision h2 {
  color: black;
}

.branding p, .shop p, .riotdivision p {
  color: black;
}

.branding a, .shop a, .riotdivision a {
  color: black;
}

.posterwithimages {
  margin-top: -150px;
}

.bookwithimages {
  margin-top: -150px;
}

.shopwithimages {
  margin-top: 150px;
}

.riotdivisionwithimages {
  margin-top: 100px;
}

.rectangle {
  z-index: -100;

  width: 100vw;
  height: 600px;
  margin-top: -320px;

  background-color: white;
}

.aboutwebposters {
  display: flex;
  flex-direction: column;

  margin-bottom: 50px;

  text-align: left;

  justify-content: center;
  align-items: center;
}

.staticwebposter, .animatedwebposter {
  width: 100vw;
  margin-bottom: 20px;
}

.static, .animated {
  margin-bottom: 50px;
}

.static a, .animated a {
  margin-left: 15px;
}

.pic2 {
  display: none;
}

@media (min-width: 768px) {
  .about img {
    width: 70vw;
  }

  h2 {
    margin-left: 250px;
  }

  p {
    width: 50vw;
    margin-left: 250px;

    font-size: 20px;
    line-height: 23px;
  }

  .branding {
    margin-top: -100px;
  }

  .pic1, .pic2 {
    width: 30vw;
    margin-left: -67px;
  }

  .more {
    padding-left: 250px;
  }

  .rectangle {
    height: 600px;
    margin-top: -470px;
  }

  .posterwithimages {
    margin-top: -30px;
  }

}
