body {
  display: flex;
  flex-direction: column;

  background-color: black;

  justify-content: center;
}

header a {
  display: none;
}

h1, h2, p, a {
  color: white;
}

h1 {
  margin-top: 50px;
  margin-bottom: 30px;
  margin-left: 10px;

  font-size: 25px;
}

a {
  text-decoration: underline;
}

.blacksection a, .whitesection a {
  transform: rotate(90deg);
}

img {
  width: 100vw;
}

nav {
  display: flex;

  padding: 10px;

  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 30px;
}

.burger-menu {
  width: 30px;
}

.helloworld {
  margin-top: 20px;
  margin-bottom: 20px;
}

.about {
  display: flex;
  flex-direction: column;

  text-align: left;

  justify-content: center;
  align-items: center;
}

.about img {
  width: 85vw;

  justify-content: center;
}

.about a {
  margin-top: 15px;
}

h1, h2, a {
 font-family: 'Ubuntu', sans-serif;
 font-weight: bold;
}

h2 {
  font-size: 19px;
}

p {
  width: 80vw;

 text-align: left;

 font-family: 'PT Sans Caption', sans-serif;
  font-size: 16px;
}

.pic {
  width: 70vw;
}

.whitesection, .blacksection {
  display: flex;
  flex-direction: column;

  text-align: left;

  justify-content: center;
  align-items: center;
}

.aboutwebposters {
  display: flex;
  flex-direction: column;

  text-align: left;

  justify-content: center;
  align-items: center;
}
